.toolbar-bar .toolbar-icon-netlify-sidebar:before {
  background-image: url(../images/cog.svg);
}

.toolbar-icon-moderation-sidebar.sidebar-open {
  background-image: linear-gradient(rgba(255, 255, 255, 0.25) 20%, transparent 200%);
}

.toolbar .toolbar-bar .toolbar-tab.netlify-sidebar-toolbar-tab {
  float: right;
}

.ui-dialog.ui-dialog-off-canvas {
  border: none !important;
}

.ui-dialog-off-canvas #drupal-off-canvas {
  border: 0;
}

#drupal-off-canvas tr td {
  padding: 10px;
  font-weight: normal;
  line-height: 1.5em;
}